html {
  background: #bc48ff;
  background: -webkit-radial-gradient(
    circle,
    #bc48ff 0%,
    rgba(230, 16, 16, 0.57) 50%,
    #3c0843 100%
  );
  background: radial-gradient(
    circle,
    #bc48ff 0%,
    rgba(230, 16, 16, 0.57) 50%,
    #3c0843 100%
  );
}

body {
  font-family: "Montserrat", sans-serif;
  color: #141414;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  cursor: default;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.go-back {
  border: none;
  border-radius: 6px;
  padding: 5px 3px 5px 3px;
  background-color: orangered;
}

svg {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.chat-container {
  height: 600px;
  width: 900px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  padding-bottom: 10px;
  padding-top: 10px;
  overflow: auto;
  border-radius: 4px;
}

.user-form {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.inner-form-svg {
  position: absolute;
  width: 50px;
  height: 70px;
  bottom: 10px;
  right: 155px;
}

.user-talk-btn,
.user-send-btn {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.user-message-inp {
  position: relative;
  width: 550px;
  height: 60px;
  border: none;
  border-radius: 9px;
  background-color: antiquewhite;
  outline: none;
  padding: 5px 35px 5px 5px;
}

.message-ai {
  position: relative;
  border-radius: 4px 48px 45px;
  padding: 10px 10px 10px 10px;
  background-color: beige;
  opacity: 0.9;
  margin-bottom: 35px;
}

.message-user {
  position: relative;
  text-align: end;
  border-radius: 33px 4px 28px 29px;
  padding: 10px 10px 10px 10px;
  background-color: beige;
  opacity: 0.9;
  margin-bottom: 35px;
}

.user-talk-btn {
  position: absolute;
  top: 4px;
  right: 5px;
  background-color: blueviolet;
}

.user-send-btn {
  position: absolute;
  bottom: 4px;
  right: 5px;
  background-color: blueviolet;
}

.inner-message-svg-user {
  position: absolute;
  bottom: -21px;
  right: 10px;
}

.inner-message-svg-ai {
  position: absolute;
  bottom: -21px;
  left: 10px;
}

.time-ai {
  display: flex;
  margin-right: 10px;
  justify-content: flex-end;
}

.time-user {
  display: flex;
  margin-left: 10px;
  justify-content: flex-start;
}

.btn-copy,
.btn-speech {
  width: 15px;
  height: 15px;
  background-color: transparent;
  padding: 5px;
}

.btn-copy {
  margin-right: 5px;
}
